.cnab
.docker-sync/
Zscaler_Root_CA.pem
.env

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore CDS-Library
CDS-Library

# Ignore prettierignore file
.prettierignore

# Ignore all log files
*.log
*.log.lck
logs/

# Ignore Eclipse and vscode files
.project
.classpath
.settings/
.vscode/
bin

# Ignore Database files
database.mv.db
database.trace.db

# Ignore the certificates
*.crt
*.p12

# Ignore Mac OS X
**/.DS_Store
.idea/
prior-auth.iml
