# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore prettierignore file
.prettierignore

# Ignore Eclipse files
.project
.classpath
.settings/
bin

# Ignore Database files
database.mv.db
database.trace.db

# Ignore Mac OS X
**/.DS_Store
