name: Java CI with Gradle

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt-openj9'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    # - name: Checkout CDSLibrary
    - run:  sudo chmod +x travis-setup.sh
    - run: ./travis-setup.sh
    - run: gradle -v
    - run: java -version
    - run: ls -a
    - name: Build with Gradle
      run: ./gradlew build 